body{
    font-family: "Manrope", sans-serif;
    background-color: hsl(218, 23%, 16%);
    color: hsl(193, 38%, 86%);
    font-weight: 800;
    transition: all .3s ease;
}
body.light-theme{
    background-color: hsl(193, 38%, 86%);
    color: hsl(218, 23%, 16%);
}

.light{
    display: none;
}
body.light-theme .light{
    display: block;
}

body.light-theme .dark{
    display: none;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 580px;
    padding: 0 20px;
    margin: 0 auto;
    height: 100vh;
}

.image-for-mobile{
    display: none;
}

.switch {
    position: absolute;
    display: inline-block;
    width: 60px;
    height: 34px;
    left: 25px;
    top: 20px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: hsl(218, 16%, 30%);
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #d1d1d1;
}

input:focus + .slider {
    background-color: #d1d1d1;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.text-theme{
    position: absolute;
    left: -5px;
    top: 35px;
    font-size: 12px;
    text-wrap: nowrap;
}

.advice-block{
    position: relative;
    background-color: hsl(217, 19%, 24%);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 330px;
    height: fit-content;
    border-radius: 14px;
    padding: 50px;
    transition: all .3s ease;
}
body.light-theme .advice-block{
    background-color: #fff;
    box-shadow: 0px 0px 10px 10px hsl(217, 19%, 24%, 0.3);
}

.advice-title{
    font-size: 13px;
    color: hsl(150, 100%, 66%);
    letter-spacing: 4px;
    text-transform: uppercase;
    margin-bottom: 20px;
    transition: all .3s ease;
}
body.light-theme .advice-title{
    color: hsl(150, 100%, 66%);
    text-shadow: 1px 0px 10px rgb(0, 0, 0, 0.5);
}

.advice-text{
    font-size: 28px;
    text-align: center;
    margin-bottom: 10px;
}

.line-image{
    margin-top: auto;
    margin-bottom: 19px;
}

.generate-btn{
    cursor: pointer;
    position: absolute;
    bottom: -35px;
    border: none;
    background: none;
    background-color: hsl(150, 100%, 66%);
    padding: 20px 20px 15px 20px;
    border-radius: 50%;
    transition: all .2s ease;
}

.generate-btn:hover{
    box-shadow: 0px 0px 20px 15px hsl(150, 100%, 66%, 0.3);
    transform: translateY(-2px);
}

.generate-btn:active{
    box-shadow: 0px 0px 10px 5px hsl(150, 100%, 66%, 0.3);
    transform: translateY(0px);
}
@media(max-width: 480px){
    .image-for-desktop{
        display: none;
    }
    .image-for-mobile{
        display: block;
    }
}