.main{
    background-color: #fff;
    .top__main{
        position: relative;
        min-height: 500px;
        background-image: url(../images/About-images/background.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        background-attachment: fixed;
    }
    .top__main__title{
        font-size: 3.2rem;
        font-weight: 500;
        color: #fff;
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        text-align: center;
    }
    .contact__info{
        padding-top: 50px;
        text-align: center;
        font-size: 1.6rem;
        .contact__info__title{
            font-size: 2.0rem;
            padding-bottom: 40px;
        }
        .contact__info__text{
            padding-bottom: 20px;
            .country{
                font-weight: 700;   
                text-decoration: underline;
            }
        }
        .phone{
            color: #000;
        }
    }
    .garanties{
        display: flex;
        justify-content: center;
        padding: 50px 0;
        .garanties__inner{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 20px;
            img{
                max-width: 400px;
                min-height: 330px;
                object-fit: cover;
                transition: all 0.2s ease;
                &:hover{
                    transform: scale(0.98);
                }
            }
            div{
                display: flex;
                flex-direction: column;
                text-align: center;
            }
            .garanties__text{
                padding-top: 20px;
                font-size: 2.4rem;
            }
        }
    }
}

@media(max-width: 1280px){
    .main{
        .garanties{
            .garanties__inner{
                img{
                    max-width: 270px;
                    min-height: 202px;
                }
            }
        }
    }
}

@media(max-width: 860px){
    .main{
        .contact__info{
            padding-top: 30px;
        }
        .garanties{
            padding: 30px 0;
            .garanties__inner{
                grid-template-columns: none;
                grid-template-rows: repeat(3, 1fr);
                img{
                    min-width: 440px;
                    min-height: 202px;
                }
            }
        }
    }
}

@media(max-width: 440px){
    .main{
        .garanties{
            .garanties__inner{
                img{
                    min-width: auto;
                    max-width: 380px;
                }
            }
        }
    }
}