body {
  font-family: "Cormorant", serif;
}

.container {
  margin: 0 200px;
}

.header {
  min-height: 80px;
  background-color: #fff;
  width: 100vw;
  position: fixed;
  z-index: 10;
}
.header .header__inner {
  padding-top: 13px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .logo {
  padding: 0;
  margin: 0;
}
.header .logo .logo-text {
  background-color: #2E3F62;
  font-weight: 400;
  font-size: 24px;
  padding: 15px 40px;
}
.header .logo .logo-text__link {
  color: white;
}
.header .user-active {
  display: flex;
  align-items: center;
  gap: 127px;
}
.header .menu__list {
  display: flex;
  gap: 40px;
  font-weight: 400;
  font-size: 20px;
}
.header .menu__list .menu__list__item {
  text-align: center;
  padding: 10px;
}
.header .menu__list .menu__list__item__link {
  color: #2E3F62;
  padding: 10px;
  transition: all 0.2s ease;
  cursor: pointer;
}
.header .menu__list .menu__list__item__link:hover {
  color: white;
  background-color: #2E3F62;
}
.header .menu__list .submenu__btn {
  position: relative;
}
.header .menu__list .menu__sublist {
  position: absolute;
  left: 0;
  padding-top: 25px;
  cursor: pointer;
  transition: all 0.3s ease;
  transform: translateY(-60px);
  opacity: 0;
  z-index: -100;
}
.header .menu__list .menu__sublist .menu__sublist__item {
  margin-left: -20px;
  padding: 10px;
  text-align: left;
  background-color: #fff;
  transition: all 0.2s ease;
}
.header .menu__list .menu__sublist .menu__sublist__item .menu__sublist__item__content {
  text-align: center;
}
.header .menu__list .menu__sublist .menu__sublist__item .menu__sublist__item__content:hover {
  background-color: #2E3F62;
}
.header .menu__list .menu__sublist .menu__sublist__item .menu__sublist__item__content:hover a {
  color: #fff;
}
.header .menu__list .menu__sublist .menu__sublist__item .menu__sublist__item__link {
  display: inline-block;
  padding: 10px;
}
.header .menu__list .menu__sublist .menu__sublist__item a {
  padding: 10px;
  color: #2E3F62;
}
.header .menu__list .menu__sublist.opened {
  transition: all 0.2s ease;
  transform: translateY(0);
  opacity: 1;
}
.header .cart {
  position: relative;
  width: 22px;
  margin-top: 7px;
  transition: all 0.3s ease;
  cursor: pointer;
}
.header .cart:hover {
  transform: scale(1.1);
}
.header .products__quantity {
  position: absolute;
  padding: 2px 6px;
  font-size: 1.2rem;
  font-weight: 600;
  background-color: #2E3F62;
  border-radius: 50%;
  color: #fff;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  right: -9px;
  bottom: -5px;
}
.header .hamburger {
  position: relative;
  display: none;
  width: 35px;
  cursor: pointer;
  background: none;
  outline: none;
  border: none;
}
.header .hamburger .bar, .header .hamburger .hamburger:after, .header .hamburger .hamburger:before {
  content: "";
  display: flex;
  width: 100%;
  height: 4px;
  background: #000;
  margin: 7px 0px;
  transition: 0.4s;
}
.header .hamburger.is-active {
  z-index: 99;
}
.header .hamburger.is-active .bar {
  transform: translateX(40px);
  opacity: 0;
}
.header .hamburger.is-active .hamburger:after {
  transform: rotate(45deg) translateY(-15px);
}
.header .hamburger.is-active .hamburger:before {
  transform: rotate(-45deg) translateY(16px);
}
.header .mobile__nav {
  position: fixed;
  display: none;
  top: 0;
  left: 100%;
  width: 100%;
  min-height: 100%;
  z-index: 98;
  background-color: #fff;
  padding-top: 100px;
  transition: 0.3s;
}
.header .mobile__nav .mobile__nav__item {
  padding: 10px;
}
.header .mobile__nav .mobile__nav__link {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 400px;
  text-align: center;
  padding: 25px 25px;
  background-color: #2E3F62;
  font-size: 30px;
  color: #fff;
  text-decoration: none;
}
.header .mobile__nav .mobile__nav__link:hover {
  background-color: #4a618e;
}
.header .mobile__nav.is-active {
  left: 0%;
}
.header .logo.is-active {
  z-index: 99;
}
.header .cart.is-active {
  z-index: 99;
}

.main {
  padding-top: 80px;
}
.main .top__main {
  background: linear-gradient(90deg, rgba(20, 75, 158, 0.3029586835) 10%, rgba(238, 102, 0, 0.3029586835) 100%);
  background-color: #2E3F62;
}
.main .top__main .images {
  display: flex;
  justify-content: center;
  gap: 25px;
  padding: 75px 0;
}
.main .top__main .images .image__block {
  position: relative;
}
.main .top__main .images .image__block .image__item {
  box-shadow: 0px 1px 52px -5px rgba(0, 0, 0, 0.33);
  width: 100%;
  -o-object-position: top;
     object-position: top;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 0.3s ease;
}
.main .top__main .images .image__block .image__item:hover {
  transform: scale(1.004);
  box-shadow: 0px 1px 52px -5px rgba(255, 255, 255, 0.33);
}
.main .top__main .images .image__block .image__text__link {
  display: block;
  position: absolute;
  top: 30px;
  color: #fff;
  font-size: 48px;
  line-height: 50px;
  max-width: 93px;
  transition: all 0.3s ease;
}
.main .top__main .images .image__block .image__text__link:hover {
  transform: scale(1.1);
}
.main .top__main .images .image__block .image__text__link__her {
  text-align: center;
  right: 30px;
}
.main .top__main .images .image__block .image__text__link__him {
  text-align: center;
  left: 30px;
}
.main .collections {
  background-color: #2A3958;
}
.main .collections .collections__inner {
  position: relative;
}
.main .collections .collections__inner video {
  width: 100%;
  min-height: 950px;
  -o-object-fit: cover;
     object-fit: cover;
}
.main .collections .collections__inner .video__text__link {
  position: absolute;
  bottom: 40px;
  right: 40px;
  font-size: 30px;
  font-weight: 400;
  color: white;
  padding: 10px 10px;
  text-decoration: underline;
  transition: all 0.2s ease;
}
.main .collections .collections__inner .video__text__link:hover {
  background-color: #fff;
  color: #2E3F62;
  text-decoration: none;
}
.main .product__cart__image {
  position: relative;
}
.main .products__size {
  position: absolute;
  padding: 5px 6px;
  font-size: 1.2rem;
  font-weight: 600;
  border: 1px solid white;
  background-color: #2E3F62;
  border-radius: 50%;
  color: #fff;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  right: -9px;
  bottom: -5px;
  box-shadow: 9px 11px 22px -4px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 9px 11px 22px -4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 9px 11px 22px -4px rgba(0, 0, 0, 0.75);
  transition: all 0.2s ease;
  cursor: pointer;
}
.main .products__size:hover {
  padding: 6px 7px;
}

.footer {
  background-color: #202D47;
}
.footer .footer__inner {
  min-height: 180px;
  display: flex;
  padding-top: 30px;
  justify-content: space-between;
  flex-direction: column;
}
.footer .footer__inner .social__block {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.footer .footer__inner .social__block a {
  text-decoration: underline;
  color: #fff;
  font-size: 1.4rem;
  font-weight: 500;
}
.footer .footer__inner .social__block a:hover {
  text-decoration: none;
}
.footer .footer__inner .social__block .footer__nav {
  display: flex;
  flex-direction: column;
}
.footer .social__icons {
  align-self: flex-end;
  padding-bottom: 34px;
  display: flex;
  gap: 30px;
}
.footer .info__block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer .info__block .footer__logo {
  background-color: #fff;
  box-shadow: inset -3px 2px 7px 4px rgba(0, 0, 0, 0.36);
  transition: all 0.2s ease;
}
.footer .info__block .footer__logo .footer__logo__title {
  font-size: 2.4rem;
  padding: 12px 37px;
  letter-spacing: 0.2rem;
}
.footer .info__block .footer__logo .footer__logo__title a {
  color: #202D47;
}
.footer .info__block .footer__logo:hover {
  box-shadow: inset -3px 4px 15px 4px rgba(0, 0, 0, 0.35);
}
.footer .info__block p {
  padding-bottom: 15px;
  font-size: 13px;
  font-weight: bold;
  color: #fff;
}
.footer .info__block button {
  cursor: pointer;
}
.footer .info__block .input__block {
  position: relative;
  width: 224px;
  border-bottom: 1px solid white;
  color: #fff;
}
.footer .info__block .input__block .arrow {
  position: absolute;
  bottom: 0;
  right: 0;
}
.footer .info__block .input__block input::-moz-placeholder {
  font-size: 1.3rem;
  font-weight: 600;
}
.footer .info__block .input__block input::placeholder {
  font-size: 1.3rem;
  font-weight: 600;
}
.footer .info__block .location__info {
  margin-top: 35px;
  color: #fff;
  font-size: 11px;
  font-weight: 400;
}
.footer .email__modal {
  display: none;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}
.footer .email__modal .email__modal__content {
  position: relative;
  background-color: #fefefe;
  margin: 22% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 380px;
  min-height: 150px;
  color: #000;
}
.footer .email__modal .email__modal__content .close__modal {
  position: absolute;
  right: 10px;
  top: -5px;
  font-size: 4.2rem;
  cursor: pointer;
}
.footer .email__modal .email__modal__content .close__modal:hover {
  color: #727272;
}
.footer .email__modal .email__modal__content .email__modal__title {
  position: absolute;
  font-size: 2rem;
  text-align: center;
  right: 0;
  left: 0;
  top: 40%;
}

@media (max-width: 1440px) {
  .container {
    margin: 0 122px;
  }
  .header {
    min-height: 83px;
  }
  .header .header__inner {
    padding-top: 14px;
  }
  .header .user-active {
    gap: 100px;
  }
  .header .logo .logo-text {
    padding: 13px 41px;
  }
  .main .collections .collections__inner .video__text__link {
    bottom: 40px;
    right: 40px;
  }
}
@media (max-width: 960px) {
  .container {
    margin: 0 100px;
  }
  .header {
    min-height: 90px;
  }
  .header .header__inner {
    padding-top: 15px;
  }
  .header .logo .logo-text {
    padding: 10px 15px;
  }
  .header .logo .logo-text__link {
    font-size: 34px;
    font-weight: 700;
  }
  .header .menu__list {
    gap: 30px;
    font-weight: 600;
    font-size: 24px;
  }
  .header .cart img {
    width: 26px;
  }
  .main .top__main {
    max-height: 650px;
  }
  .main .top__main .images .image__block .image__item {
    max-width: 370px;
    min-height: 500px;
  }
  .main .collections {
    min-height: 650px;
  }
  .main .collections .collections__inner {
    min-height: 650px;
  }
  .main .collections .collections__inner video {
    min-height: 650px;
  }
  .main .collections .collections__inner .video__text__link {
    bottom: 40px;
    right: 40px;
  }
}
@media (max-width: 760px) {
  .container {
    margin: 0 50px;
  }
  .header {
    position: fixed;
    z-index: 99;
  }
  .header .header__inner {
    justify-content: flex-end;
  }
  .header .user-active {
    gap: 0;
    margin-left: auto;
    margin-right: 15px;
  }
  .header .menu__list {
    display: none;
  }
  .header .mobile__nav {
    display: block;
  }
  .header .hamburger {
    display: block;
    width: 28px;
  }
  .main {
    padding-top: 90px;
  }
  .main .top__main .container {
    margin: 0;
  }
  .main .top__main .images .image__block .image__text__link {
    top: auto;
    bottom: 30px;
  }
}
@media (max-width: 480px) {
  .container {
    margin: 0 20px;
  }
  .header {
    min-height: 100px;
  }
  .header .header__inner {
    padding-top: 11px;
  }
  .header .logo .logo-text {
    background-color: #fff;
  }
  .header .logo .logo-text__link {
    color: black;
    font-size: 48px;
    font-weight: 700;
  }
  .header .menu__list {
    display: none;
  }
  .header .cart {
    margin-left: auto;
  }
  .header .cart img {
    width: 28px;
  }
  .header .mobile__nav {
    display: block;
  }
  .header .hamburger {
    display: block;
    width: 28px;
  }
  .main .top__main {
    max-height: 1100px;
  }
  .main .top__main .images {
    flex-direction: column;
    gap: 0 0;
    padding: 0;
  }
  .main .top__main .images .image__block .image__item {
    min-width: 100%;
    max-height: 550px;
  }
  .main .top__main .images .image__block .image__text__link {
    top: 10px;
    left: 10px;
    font-weight: 600;
  }
  .main .collections {
    min-height: 700px;
  }
  .main .collections .collections__inner {
    min-height: 700px;
  }
  .main .collections .collections__inner video {
    min-height: 700px;
  }
  .main .collections .collections__inner .video__text__link {
    bottom: 20px;
    right: 20px;
    font-size: 32px;
    padding: 0;
  }
  .footer .footer__inner {
    padding-top: 40px;
    flex-direction: column;
    align-items: center;
  }
  .footer .footer__inner .subscribtion, .footer .footer__inner .input__block {
    max-width: 90%;
  }
  .footer .footer__inner .info__block {
    font-size: 14px;
    padding-bottom: 17px;
  }
  .footer .footer__inner .social__block {
    display: flex;
    justify-content: space-between;
    width: 100%;
    color: #fff;
    font-size: 11px;
    font-weight: 400;
    padding: 0 35px;
    padding-top: 85px;
  }
}/*# sourceMappingURL=index.css.map */